
body{
    width: 97%;
    height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.home{
    width: 50%;
    height: 500px;
    font-size: 13px;
    text-align:justify;
   display: flex;
    justify-content: center;
    align-items: center;


}

.main{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 50px;
}
h1{
    color: rgba(20, 19, 20, 0.491);
   
}
.head{
    margin-top: 50px;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    gap: 200px;
    margin-right: 40px;
}
button{
    color:white ;
    background-color:#E95793 ;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 30px;
}

h2{
    color: #E95793;
}  
.date{
    color:grey;
    font-weight: bold;
    font-style: italic;
}
p{
    color: rgba(20, 19, 20, 0.799);
    font-weight: bold;

}
.fifth{
    margin-bottom: 30px;
}

.pcolor{
    color: rgb(248, 241, 241);
}
.hcolor{
    color: rgb(250, 247, 247);

}
.bdycolor{
    background-color: rgba(0, 0, 0, 0.839);
}
.btncol{
    color: rgba(0, 0, 0, 0.713);
}